* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav {
  padding: 10px 30px;
  /* height: 10vh; */
  display: flex;
  /* background: red; */
  justify-content: space-between;
  align-items: center;
  background-color: rgb(159, 119, 251);
  margin-bottom: 20px !important;
}
.nav ul {
  display: flex;
  gap: 25px;
  text-decoration: none;
}
.nav ul li {
  list-style: none;
  text-decoration: none;
  font-size: large;
}

.nav ul li a {
  color: white;
  text-decoration: none;
}
.nav img {
  width: 60px;
  height: auto;

}
